*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section style */
header{
    background-color: gray;
    height: 70px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 12px;
}
nav > ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin:  10px 15px;
}
nav ul > li:hover > a{
    color: rgb(165, 0, 0);
    transition: all ease-in .4s;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
ul li ul{
    align-items: center;
    list-style: none;
    background-color: gray;
    display: none;
    position: absolute;
}
ul li ul li:not(:last-child){
    border-bottom: 1px solid #fff;
}
nav > ul > li:hover >ul{
    display: block;
}

/* navbar-c style */


/* header login,sign up button style */
.navbar li button, .spn{
    border: none;
    outline: none;
    background-color: gray;
    padding: 0 4px;
    color: #fff;
}
nav .navbar-button button{
    background-color: grey;
    border: none;
    outline: none;
    padding: 4px 5px;
    border-radius: 30px;
    padding: 4px 5px;
    color: rgb(20, 20, 20);
}
nav .navbar-button button:hover{
    background-color: #fff;
    transition: all ease-in .4s;
}
nav .navbar-button button:hover > a{
    color: black;
    transition: all ease-in .4s;
}

/* banner section style */
.no-1{
    background-image: url("../css/image/background.jpg"), linear-gradient(150deg, rgba(0,0,0,.65), rgba(0,0,0,.65));
    height: 100vh;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content{
    width: 40%;
    text-align: center;
}
.banner-content .welcome{
    margin-bottom: 30px;
    color: red;
    letter-spacing: 2px;
}
.banner-content .title{
    font-size: 4rem;
    color: #fff;
    margin-bottom: 15px;
}
.banner-content .title .digital{
    color: red;
}
.banner-content .description{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.no-1 .btn{
    border: none;
    border: none;
    background-color: red;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.no-1 .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.no-1 .btn:last-child{
    background-color: #fff;
}
.no-1 .btn .now{
    color: black;
}
.no-1 .btn:hover{
    box-shadow: 2px 25px 30px rgba(0, 0, 0, .7);
    transition: all ease-in .5s;
}


/* services section style */
.services{
    color: #fff;
    background-image: url("../css/image/footer-bg.png"), linear-gradient(190deg, rgba(0,0,0, 6), rgba(0,0,0,.90));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 115vh;
}
.services-2{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.services-list{
    display: flex;
    flex-direction: column;
}
.btn-list{
    width: 140px;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 1px;
    color: #717171;
    background-color: #fff;
}
.headding{
    margin-top: 16px;
    font-size: 2.05rem;
    font-weight: 790;
}
.headding span{
    color: rgb(255, 24, 24);
}
.services-list .headding-description{
    width: 680px;
    margin-top: 16px;
    word-spacing: 2px;
}
.services-list .number{
    margin-top: 16px;
}
.data{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.img{
    display: flex;
    align-items: center;
}
.director{
    width: 90px;
    border-radius: 45px;
}
.ceo{
    margin-left: 8px;
}
.more{
    margin-left: 90px;
    display: flex;
    align-items: center;
}
.more-hr{
    width: 1px;
    height: 120px;
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    border-radius: 30px;
}
.more-btn{
    width: 150px;
    height: 45px;
    margin-left: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.more-btn a{
    text-decoration: none;
    color: #ff1717;
    font-weight: 500;
    font-size: 14px;
}



/* services icons */
.service-icons-p{
    display: flex;
    flex-wrap: wrap;
}
.service-icons-c{
    display: flex;flex-direction: column;
    align-items: center;
}
.service-icons-c img{
    width: 100px;
}
.service-icons-c{
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.619);
    padding: 40px 40px;
    text-align: center;
    border-radius: 10px;
    margin: 14px 14px;
}
.img-p{
    width: 280px;
    height: 200px;
}


/* contact section style */
.contact{
    margin: auto 0 20% 15%;
}
.contact-p{
    width: 80%;
    height: 120px;
    background-color: #ff1717;
    margin-top: -60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
}
.call{
    display: flex;
}
.call .fa-phone-volume{
    font-size: 50px;
    color: #fff;
}
.phone-number{
    width: 160px;
    margin-left: 10px;
    color: #fff;
}
.hr-contact{
    height: 100px;
}
.contact-description{
    width: 500px;
    color: #fff;
}
.contact-button{
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 30px;
}



/* blog and news contents style */
.blog-and-news{
    margin-top: -150px;
    align-items: center;
}
.blog-main-content{
    
}
.blog-contents{
    display: flex;
    width: 90%;
    margin: 0 6%;
}
.news-content .blog-img{
    width: 380px;
}
.blog-hading{
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-hading .blog-title{
    font-size: 2.7rem;
    font-weight: 700;
}
.blog-s{
    color: #ff1717;
}
.blog-descripton{
    width: 690px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.news-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 380px;
    margin: 20px 20px;
    height: 400px;
    padding: 20px 16px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}
.news-heding{
    margin-bottom: 18px;
}
.news-description{
    font-size: 18px;

}